@{
    Layout = "_LayoutAdmin";
}

<div class="text-center">
   <h2>BENVENUTO PADRONE</h2>
   <p>Scegli un'operazione da fare!</p>
   <ul class="list-unstyled">
       <li><a class="btn btn-primary my-2" href="@Url.Action("Index","Pizza")">Modifica le pizze</a></li>
       <li><a class="btn btn-primary my-2" href="@Url.Action("Index","Ingrediente")">Modifica gli ingredienti</a></li>
   </ul>

</div>

