@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto dove le pizze costano il doppio</h1>
    <h2>Visualizza le nostre pizze!!</h2>    
    <p>  <a class="btn btn-primary" href="~/Pizza">QUI</a></p>
</div>
<div class="container ">
 
    <table  class="table table-hover">
        <thead>
            <tr>
                <th class="col-2">Immagine</th>
                <th class="col-2">Nome</th>
                <th class="col-3">Descrizione</th>
                <th class="col-2">Categoria</th>
                <th class="col-1">Prezzo</th>
                <th class="col-2">Comandi</th>
            </tr>
        </thead>
        <tbody class="pizza-table">

        </tbody>
       
    </table>
        
        
    <div class="col-12 text-center no-pizza">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>    
    </div>
        

</div>




<script>
    
axios.get("api/pizza").then(data => { 
    const list = data.data;
    if (list <= 0) {
        document.querySelector('.no-pizza').classList.remove('d-none');
        document.querySelector('.pizza-table').classList.add('d-none');
    }else{
        document.querySelector('.pizza-table').classList.remove('d-none');
        document.querySelector('.no-pizza').classList.add('d-none');

        document.querySelector('.pizza-table').innerHTML = '';

        list.forEach(pizza => {
            console.log("post", pizza);

            document.querySelector('.pizza-table').innerHTML +=
            `
                <tr class="my-lg-2 ">
                        <td class="align-middle l"><img src="${pizza.photoUrl}" class="w-100 rounded-circle border-5 border border-success"/></td>
                        <td class="align-middle">${pizza.name}</td>
                        <td class="align-middle">${pizza.description}</td>
                        <td class="align-middle">${pizza.category.name}</td>                 
                        <td class="align-middle">${pizza.price}</td>
                        <td class="align-middle">
                            nulla assoluto
                        </td>
                    </tr>
            `;            
        })
    }
}).catch(e => console.log(e));


</script>