@{
    ViewData["Title"] = "Pagina di dettaglio";
}

@model int

<div class="container ">
 
   <div  class="col-12 detail">
       
   </div>       
   <div class="col-12 text-center no-pizza">
        <span>La pizza non è presente</span>         
    </div>
</div>


@section Scripts {
    
    <script type="text/javascript">
    
        const id = @Model;
        

        loadPizza(id);


        function loadPizza(n) {
            axios.get(`/api/pizza/${n}`).then(res => { 
                console.log("ok", res.data);
                const pizza = res.data;
                           
                
                if (pizza == null) {
                     console.log("sono null");
                    document.querySelector('.detail').classList.add('d-none');
                    document.querySelector('.no-pizza').classList.remove('d-none');
                }else{
                    console.log("non sono null");
                    document.querySelector('.no-pizza').classList.add('d-none');
                    document.querySelector('.detail').classList.remove('d-none');                    
        
                    document.querySelector('.detail').innerHTML +=
                    `
                        <div class="row">
                            <div>
                                <img src="${pizza.photoUrl}"/>
                            </div>
                            <div class="flex-column">
                                <h2>${pizza.name}</h2>
                                <p>${pizza.description}</p>
                                <span>categoria: ${pizza.category.name}</span>
                                <span>prezzo: ${pizza.price} euro</span>
                            </div>
                        </div>
                    `;
                }
             }).catch(e => console.log(e));
        }

    </script>
}
