@{
    ViewData["Title"] = "Pagina di dettaglio";
}

@model int

<div class="container">
 
   <div  class="col-12 detail">
       
   </div>       
   <div class="col-12 text-center no-pizza">
        <span>La pizza non è presente</span>         
    </div>
</div>


@section Scripts {
    
    <script type="text/javascript">
    
        const id = @Model;
        

        loadPizza(id);


        function loadPizza(n) {
            axios.get(`/api/pizza/${n}`).then(res => { 
                
                const pizza = res.data;
                           
                
                if (pizza == null) {
                    document.querySelector('.detail').classList.add('d-none');
                    document.querySelector('.no-pizza').classList.remove('d-none');
                }else{
                    document.querySelector('.no-pizza').classList.add('d-none');
                    document.querySelector('.detail').classList.remove('d-none');                    
        
                    document.querySelector('.detail').innerHTML +=
                    `
                        <div class="d-flex">
                            <div col-6>
                                <img src="${pizza.photoUrl}"/>
                            </div>
                            <div class="col-6 text-center ">
                                <h2>${pizza.name}</h2>
                                <p>${pizza.description}</p>
                                <div class="my-2">
                                    <span>categoria: ${pizza.category.name}</span>
                                </div>
                                <div class="my-2">
                                    <span>prezzo: ${pizza.price} euro</span>
                                </div
                                <div class="my-2">
                                    <a class="btn btn-secondary" href="/"> Indietro </a>
                                </div>
                            </div>
                        </div>
                    `;
                }
             }).catch(e => console.log(e));
        }

    </script>
}
