@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto dove le pizze costano il doppio</h1>
    <h2>Visualizza le nostre pizze!!</h2>    
    <p>  <a class="btn btn-primary" href="~/Pizza">QUI</a></p>
</div>
