@{
    ViewData["Title"] = "Indice pizze";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto dove le pizze costano il doppio</h1>
    <h2>Visualizza le nostre pizze!!</h2>    
    <div>
        <a class="btn btn-primary" href="~/Pizza">QUI</a>
    </div>
</div>
<div class="container ">
    <div class="my-2">
        <label for="input-text"><strong>Cerca: </strong></label>
        <input id="input" for="input-text" type="text" placeholder="Cerca una pizza" onkeyup="doSearch"/>
        
    </div>
    <table  class="table table-hover">
        <thead>
            <tr>
                <th class="col-2">Immagine</th>
                <th class="col-2">Nome</th>
                <th class="col-3">Descrizione</th>
                <th class="col-2">Categoria</th>
                <th class="col-1">Prezzo</th>
                <th class="col-2">Comandi</th>
            </tr>
        </thead>
        <tbody class="pizza-table">

        </tbody>
       
    </table>
        
        
    <div class="col-12 text-center no-pizza">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>         
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        let delay;
        document.getElementById("input").addEventListener("keyup", doSearch);
        
        loadPizzas();
    
        function loadPizzas(search) {
            axios.get("api/pizza", {
                params: {
                    search,
                }
            }).then(res => { 
                const list = res.data;                
                if (list <= 0) {
                    document.querySelector('.no-pizza').classList.remove('d-none');
                    document.querySelector('.pizza-table').classList.add('d-none');
                    
                }else{
                    document.querySelector('.pizza-table').classList.remove('d-none');
                    document.querySelector('.no-pizza').classList.add('d-none');

                    document.querySelector('.pizza-table').innerHTML = '';

                    list.forEach(pizza => {                       

                        document.querySelector('.pizza-table').innerHTML +=
                        `
                            <tr class="my-lg-2 ">                                    
                                <td class="align-middle l"><img src="${pizza.photoUrl}" class="w-100 rounded-circle border-5 border border-success"/></td>
                                <td class="align-middle">${pizza.name}</td>
                                <td class="align-middle">${pizza.description}</td>
                                <td class="align-middle">${pizza.category.name}</td>                 
                                <td class="align-middle">${pizza.price} euro</td>
                                <td class="align-middle">
                                    <a class="btn btn-primary" href="/Home/Details/${pizza.id}">Dettaglio</a>
                                </td>                                    
                            </tr> 
                        `;            
                    })
                }
            }).catch(e => console.log(e));

        }

        function doSearch() {
            var value = document.getElementById("input").value;
            clearTimeout(delay);
            delay = setTimeout(() => loadPizzas(value), 2000);

        }

    </script>
}

