@{
    ViewData["Title"] = "Lista Pizze";
}

@model List<Messaggio>
    
<div class="container">
    <div class="d-flex">
        <div class="my-2">
            <label for="input-text"><strong>Cerca: </strong></label>
            <input id="input" for="input-text" type="text" placeholder="Cerca una pizza" onkeyup="doSearch"/>        
        </div>
        <div>
            <a class="btn btn-primary" href="@Url.Action("Create","Messaggio")">Crea Messaggio</a>
        </div>
    </div>
    <table  class="table table-hover">
        <thead>
            <tr>
                
                <th class="col-2">Titolo</th>
                <th class="col-3">Contenuto</th>
                <th class="col-2">Comandi</th>
            </tr>
        </thead>
        <tbody class="messages-table">

        </tbody>
       
    </table>
        
        
    <div class="col-12 text-center no-messages">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>         
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        let delay;
        document.getElementById("input").addEventListener("keyup", doSearch);
        
        loadMessages();
    
        function loadMessages(search) {
            axios.get("api/messaggio", {
                params: {
                    search,
                }
            }).then(res => { 
                const list = res.data;
                if (list <= 0) {
                    document.querySelector('.no-messages').classList.remove('d-none');
                    document.querySelector('.messages-table').classList.add('d-none');
                    
                }else{
                    document.querySelector('.messages-table').classList.remove('d-none');
                    document.querySelector('.no-messages').classList.add('d-none');

                    document.querySelector('.messages-table').innerHTML = '';

                    list.forEach(messaggio => {                       

                        document.querySelector('.messages-table').innerHTML +=
                        `
                            <tr class="my-lg-2 ">
                                <td class="align-middle">${messaggio.title}</td>
                                <td class="align-middle">${messaggio.textMessage}</td>
                                <td class="align-middle">
                                    <a class="btn btn-primary" href="/Messaggio/Details/${messaggio.id}">Dettaglio</a>
                                    <a class="btn btn-primary" href="/Messaggio/Edit/${messaggio.id}">Modifica</a>
                                </td>                                    
                            </tr> 
                        `;            
                    })
                }
            }).catch(e => console.log(e));

        }

        function doSearch() {
            var value = document.getElementById("input").value;
            clearTimeout(delay);
            delay = setTimeout(() => loadMessages(value), 2000);

        }

    </script>
}

